.board {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr;
}
@mixin piece-color {
  background-color: $blue;
  border-radius: 10px;
  margin: 1rem;
}
@mixin button {
  cursor: pointer;
  border: solid $purple 5px;
  margin: 1rem 1rem;
  font-size: 1.5rem;
  border-radius: 18px;
  padding: 0.3rem;
  font-family: $font-main;
  text-align: center;
  transition: background-color 0.5s ease;
}
@mixin text {
  color: $purple;
  border: solid $purple 5px;
  border-radius: 18px;
  font-family: $font-main;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.1rem;
}
.grogu_image {
  grid-column: 1/1;
  grid-row: 2/3;
  width: 100%;
}
.grogu_avances {
  margin: auto;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: $orange;
}

.buton-dice {
  grid-column: 1/1;
  grid-row: 3/4;
  color: white;
  background-color: $purple;
  @include button();
  &:hover {
    background-color: $grey;
    color: white;
  }
}

.result-dice {
  width: 60%;
  grid-column: 2/3;
  grid-row: 3/4;
  @include text();
}
.user-message {
  @include text();
  grid-column: 3/6;
  grid-row: 3/4;
}
.buton-reload {
  @include button();
  color: $purple;
  background-color: white;
  grid-column: 7/8;
  grid-row: 3/4;
  &:hover {
    background-color: $grey;
    color: white;
  }
}

.grogu-avances {
  grid-column: 8/9;
  grid-row: 3/4;
  @include text();
}
.food-container {
  grid-column: 8/9;
  grid-row: 2/3;
  @include text();
}
.icon {
  margin-left: 1rem;
}

.piece1 {
  grid-column: 2/3;
  grid-row: 2/3;
  @include piece-color();
}
.piece2 {
  grid-column: 3/4;
  grid-row: 2/3;
  @include piece-color();
}
.piece3 {
  grid-column: 4/5;
  grid-row: 2/3;
  @include piece-color();
}
.piece4 {
  grid-column: 5/6;
  grid-row: 2/3;
  @include piece-color();
}
.piece5 {
  grid-column: 6/7;
  grid-row: 2/3;
  @include piece-color();
}
.piece6 {
  grid-column: 7/8;
  grid-row: 2/3;
  @include piece-color();
}
