.header {
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  color: $white;
  background-color: $grey;

  &--nav {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 60px 60px 60px;
    justify-content: center;
    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      height: 12vh;
    }
    &--nav__link {
      color: $white;
    }
  }
  &--section {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    background-color: $color-secondary;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 70%;
    height: 60px;

    @media all and (min-width: 768px) {
      font-size: 2.3rem;
      padding: 1rem;
      margin-bottom: 0;
    }
    &:hover {
      border: solid 0.15rem $aqua;
    }
  }
}
